extends base

block content 
  main.main 
    section.section.section--myRooms
      .section--myRooms__wrapper__inner.dashboard
        .section__header.dashboard__header
          h2.heading.heading--primary.dashboard__heading My Rooms
          .dashboard__header__btns 
            form.header__form.header__form--joinGrp(data-username = `${user.name}`)
              input.header__form__input.input--joinCode(type="text" placeholder="Enter Room Code to join!")
              button.btn.btn--default Join

            a(href = "/createGroup").dashboard__header__btns__createRoom.btn Create New Room

        .myRooms__list
          each el in grps
            a.myRooms__list__item(href=`/group/${el._id}`)
              .myRooms__list__item__header
                h4.myRooms__list__item__header__title= el.name
                .myRooms__list__item__header__sub= el.subject

              .myRooms__list__item__material
                h5.myRooms__list__item__material__heading Recent Uploaded Material
                -if(el.studyItems.length > 0)
                  .myRooms__list__item__material--recent= el.studyItems[0].fileName

              .myRooms__list__item__leader= `Admin :- ${el.admin.name}`
            
          -if(!grps.length)
            .myRooms__empty Join a group to see here!! 

          
          


